<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="demo_ekz.Properties.Settings.SalonConnectionString" connectionString="Data Source=WORKSTATION922\SQLEXPRESS;Initial Catalog=Salon;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="SalonEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WORKSTATION922\SQLEXPRESS;initial catalog=Salon;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SalonEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WORKSTATION922\SQLEXPRESS;initial catalog=Salon;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SalonEntities2" connectionString="metadata=res://*/NewFolder1.SalonModel.csdl|res://*/NewFolder1.SalonModel.ssdl|res://*/NewFolder1.SalonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WORKSTATION922\SQLEXPRESS;initial catalog=Salon;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SalonEntities" connectionString="metadata=res://*/Model.Model1.csdl|res://*/Model.Model1.ssdl|res://*/Model.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WORKSTATION922\SQLEXPRESS;initial catalog=Salon;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>